@media screen and (max-width: 500px){
  .sidenav-open{
    width:100% !important;
  }
}
body{
  background-color:#f4f4f4;
}
.cart-body{
  overflow-y: scroll;
  height:52rem;
  position:absolute;
}
.hidden_scrollable{
    position:relative;
    overflow:hidden;
    height:52rem;
    
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 30;
  top: 0;
  bottom:0;
  right: 0;
  color:#000;
  background-color: #fff;
  overflow: hidden;
  transition: 0.5s;
  display: block;
}
hr{
  width:90%;
}


.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav-open{
	width:25rem;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.overflow-hidden{
	overflow: hidden;
}
.div_blocker{

	height: 100%;
	width: 100%;
	position: fixed;
	overflow: hidden;
	z-index: 30;
	top: 0;
	right: 0;
	color:#000;
	background-color: black;

	transition: 0.5s;
	opacity: .3;
	padding-top: 60px;
}

/*.qty_wrapper1 button {
  outline:none;
  width:3rem;
  height:2rem;
   -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0;
  position: relative;
}*/
input[type="number"] {
  -webkit-appearance: textfield;
    -moz-appearance: textfield;
          appearance: textfield;
          text-align: center;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}
.qty_wrapper1 {
  border: 2px solid #ddd;
  width: 6.6rem;
}
.qty_wrapper1 button {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0;
  position: relative;
  outline: none;
  width: 1.4rem;
  height: .6rem;
  
}
.qty_wrapper1 button:before,
.qty_wrapper1 button:after {
  display: inline-block;
  position: absolute;
  content: '';
  height: 2px;
  transform: translate(-50%, -50%);
}
.qty_wrapper1 button.plus1:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.qty_wrapper1 button.minus1 {
/*  padding-left: 8px;*/
}
.qty_wrapper1 button.plus1 {
  padding-left: 5px;
}
.qty_wrapper1 button:before,
.qty_wrapper1 button:after {
  width: 1rem;
  background-color: #212121;
}
.qty_wrapper1 input[type=number] {
  max-width: 3rem;
  border: solid #ddd;
  border-width: 0 2px;
  font-size: 1rem;
  /*height: 3rem;*/
  font-weight: bold;
  outline: none;
}
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {
  .qty_wrapper1.safari_only button:before, 
  .qty_wrapper1.safari_only button:after {
    margin-top: -.6rem;
  }
}
}
.pagination{display:inline-block}
.pagination{padding-left:0;margin:22px 0;border-radius:4px}.pagination>li{display:inline}.pagination>li>a,.pagination>li>span{position:relative;float:left;padding:6px 12px;line-height:1.6;text-decoration:none;color:#3097D1;background-color:#fff;border:1px solid #ddd;margin-left:-1px}.pagination>li:first-child>a,.pagination>li:first-child>span{margin-left:0;border-bottom-left-radius:4px;border-top-left-radius:4px}.pagination>li:last-child>a,.pagination>li:last-child>span{border-bottom-right-radius:4px;border-top-right-radius:4px}.pagination>li>a:focus,.pagination>li>a:hover,.pagination>li>span:focus,.pagination>li>span:hover{z-index:2;color:#216a94;background-color:#eee;border-color:#ddd}.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover{z-index:3;color:#fff;background-color:#3097D1;border-color:#3097D1;cursor:default}.pagination>.disabled>a,.pagination>.disabled>a:focus,.pagination>.disabled>a:hover,.pagination>.disabled>span,.pagination>.disabled>span:focus,.pagination>.disabled>span:hover{color:#777;background-color:#fff;border-color:#ddd;cursor:not-allowed}.pagination-lg>li>a,.pagination-lg>li>span{padding:10px 16px;font-size:18px;line-height:1.3333333}.pagination-lg>li:first-child>a,.pagination-lg>li:first-child>span{border-bottom-left-radius:6px;border-top-left-radius:6px}.pagination-lg>li:last-child>a,.pagination-lg>li:last-child>span{border-bottom-right-radius:6px;border-top-right-radius:6px}.pagination-sm>li>a,.pagination-sm>li>span{padding:5px 10px;font-size:12px;line-height:1.5}.badge,.label{font-weight:700;line-height:1;white-space:nowrap;text-align:center}.pagination-sm>li:first-child>a,.pagination-sm>li:first-child>span{border-bottom-left-radius:3px;border-top-left-radius:3px}.pagination-sm>li:last-child>a,.pagination-sm>li:last-child>span{border-bottom-right-radius:3px;border-top-right-radius:3px}

/*.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}*/