.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 30;
  top: 0;
  bottom:0;
  right: 0;
  color:#000;
  background-color: #fff;
  overflow: hidden;
  transition: 0.5s;
  display: block;
}
hr{
  width:90%;
}
.cart-body{

}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav-open{
	width:400px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.overflow-hidden{
	overflow: hidden;
}
.div_blocker{

	height: 100%;
	width: 100%;
	position: fixed;
	overflow: hidden;
	z-index: 30;
	top: 0;
	right: 0;
	color:#000;
	background-color: black;

	transition: 0.5s;
	opacity: .3;
	padding-top: 60px;
}

/*.qty_wrapper button {
  outline:none;
  width:3rem;
  height:2rem;
   -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0;
  position: relative;
}*/
input[type="number"] {
  -webkit-appearance: textfield;
    -moz-appearance: textfield;
          appearance: textfield;
          text-align: center;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}
.qty_wrapper {
  border: 2px solid #ddd;
  width: 11.8rem;
}
.qty_wrapper button {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0;
  position: relative;
  outline: none;
  width: 3.2rem;
  height: 2rem;
  padding-top: .8rem;
}
.qty_wrapper button:before,
.qty_wrapper button:after {
  display: inline-block;
  position: absolute;
  content: '';
  height: 2px;
  transform: translate(-50%, -50%);
}
.qty_wrapper button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.qty_wrapper button.minus {
  padding-left: 8px;
}
.qty_wrapper button.plus {
  padding-left: 5px;
}
.qty_wrapper button:before,
.qty_wrapper button:after {
  width: 1rem;
  background-color: #212121;
}
.qty_wrapper input[type=number] {
  max-width: 5rem;
  padding: .5rem;
  border: solid #ddd;
  border-width: 0 2px;
  font-size: 2rem;
  height: 3rem;
  font-weight: bold;
  outline: none;
}
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {
  .qty_wrapper.safari_only button:before, 
  .qty_wrapper.safari_only button:after {
    margin-top: -.6rem;
  }